.search-results {
  text-align: center;
  margin: 2rem 0;
}

.search-results-img {
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .search-results__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }

  .search-results-img {
    flex: calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    padding: 0 0.5rem;
  }
}
